.action-menu{
    padding: 40px 30px;
}
#select{
    padding: 20px 0px;
}
.action-menu h1{
    margin-bottom: 20px 0px;
}
.action-menu-content{
    display: flex;
    justify-content: space-between;
}
.action-menu-content>button.btn.btn-primary{
    height: 40px;
}
.alert{
    display: none;
}